<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Contact Book</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body ng-app="ContactBook">
    <div class="container">
        <h3 class="page-header">Demo: Directives</h3>
        <div ng-controller="ContactController">
            <ng-contact-list contacts="contacts" remove="deleteContact()"></ng-contact-list>
        </div>
    </div>

    <script type="text/javascript">
        var app = angular.module('ContactBook', []);

        app.directive('ngContactList', function () {
            return {
                templateUrl: 'contact-list.html',
                replace: true,
                restrict: 'EA',
                scope: {
                    contacts: '=',
                    remove: '&'
                },
                link: function ($scope, element, attrs) {
                }
            };
        });

        app.controller('ContactController', function ($scope) {
            $scope.contacts = [
                { name: 'Wang Shijun', mobile: 18888888888 },
                { name: 'Liu Jingwei', mobile: 13888888888 },
                { name: 'Li Zhiye', mobile: 13999999999 },
                { name: 'Shang Chun', mobile: 13999999999 },
                { name: 'Liu Zhe', mobile: 13999999999 },
                { name: 'Song Jiang', mobile: 13999999999 },
                { name: 'Zou Bin', mobile: 13999999999 },
            ];

            $scope.deleteContact = function () {
                $scope.contacts.splice(this.$index, 1);
            };

        });

    </script>

    <script type="text/ng-template" id="contact-list.html">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="contact in contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.mobile}}</td>
                <td><a href="javascript:void(0)" ng-click="remove()">删除</a></td>
            </tr>
        </table>
    </script>

</body>
</html>
