<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Contact Book</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body ng-app="ContactBook">
    <div class="container">
        <h3 class="page-header">Demo: Filters</h3>
        <div ng-controller="ContactController">

            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control" ng-model="keyword" placeholder="type to filter...">
                </div>
            </form>

            <br/>

            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="contact in contacts | filter:keyword">
                    <td>{{contact.name | lowercase }}</td>
                    <td>{{contact.mobile}}</td>
                    <td><a href="javascript:void(0)" ng-click="deleteContact()">删除</a></td>
                </tr>
            </table>

        </div>

    </div>

    <script type="text/javascript">
        var app = angular.module('ContactBook', []);

        app.filter('capitalize', function () {
            return function (input) {
                return input.replace(/(?:^|\s)\S/g, function(match) {
                    return match.toUpperCase();
                });
            };
        });

        app.controller('ContactController', function ($scope) {
            $scope.contacts = [
                { name: 'Wang Shijun', mobile: 18888888888 },
                { name: 'Liu Jingwei', mobile: 13888888888 },
                { name: 'Li Zhiye', mobile: 13999999999 },
                { name: 'Shang Chun', mobile: 13999999999 },
                { name: 'Liu Zhe', mobile: 13999999999 },
                { name: 'Song Jiang', mobile: 13999999999 },
                { name: 'Zou Bin', mobile: 13999999999 },
            ];

            $scope.deleteContact = function () {
                $scope.contacts.splice(this.$index, 1);
            };

        });
    </script>

</body>
</html>
